:root {
  --primary-black: #0b0b0b;
  --secondary-black: #1a1a1a;
  --gold: #f5c542;
  --gold-dark: #d4a017;
  --text-light: #ffffff;
  --text-muted: #cfcfcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
  background-color: var(--primary-black);
  color: var(--text-light);
}

header {
  background-color: var(--primary-black);
  border-bottom: 1px solid #222;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.5rem;
  font-weight: bold;
}.logo img {
  height: 40px;
  width: auto;
}
.logo span {
  color: var(--gold);
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  color: var(--text-light);
}
.nav-links a:hover {
  color: var(--gold);
}



.hero {
  background: linear-gradient(
    135deg,
    var(--primary-black),
    var(--secondary-black)
  );
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.hero-content h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: var(--gold);
}
.hero-content p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 1.8rem;
  color: var(--text-muted);
}
.hero-btn {
  padding: 0.8rem 1.8rem;
  border: none;
  background-color: var(--gold);
  color: var(--primary-black);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
.hero-btn:hover {
  background-color: var(--gold-dark);
}


.services {
  background-color: var(--secondary-black);
  max-width: 100%;
  padding: 4rem 1rem;
  text-align: center;
}
.services h2 {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: var(--gold);
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.service-card {
  background-color: var(--primary-black);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #222;
}
.service-card h3 {
  margin-bottom: 1rem;
  color: var(--gold);
}
.service-card p {
  color: var(--text-muted);
}


footer {
  background-color: #000;
  color: var(--text-muted);
  padding: 2.5rem 1rem;
  text-align: center;
}
.social-links a {
  color: var(--white);
  margin: 0 0.75rem;
  font-size: 1.2rem;
}
.social-links a:hover {
  color: var(--gold-dark);
}
.social-links i {
  margin-right: 0.4rem;
}



@media (max-width: 768px) {
   header {
     padding-bottom: 0.5rem;
   }

  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .logo {
    justify-content: center;
  }

  .nav-links {
    border-top: 1px solid #222;
    padding-top: 0.75rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}

